@keyframes loader-inner {
  100% {
    transform: rotate(360deg);
  }
}

.loader-inner {
  position: absolute;
  animation: loader-inner 1s infinite ease-in;
}

.loader {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}

.loader.modal-loader {
  margin: 60px auto;
}

.custom-loader {
  width: 64px;
  height: 64px;
  .loader-inner {
    width: 64px;
    height: 64px;
  }
}
