@tailwind base;
@tailwind components;
@tailwind utilities;
/**
* Add css variables here as well for light mode in addition to tailwind.config to avoid FOUC
*/

@font-face {
  font-family: "p22-mackinac";
  font-weight: 400;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/P22/P22Mackinac-Book_13.woff");
  font-display: swap;
}

@font-face {
  font-family: "p22-mackinac";
  font-weight: 500;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/P22/P22Mackinac-Medium_6.woff");
  font-display: swap;
}

@font-face {
  font-family: "p22-mackinac";
  font-weight: 700;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/P22/P22Mackinac-Bold_23.woff");
  font-display: swap;
}

@font-face {
  font-family: "p22-mackinac";
  font-weight: 800;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/P22/P22Mackinac-ExtraBold_9.woff");
  font-display: swap;
}


@font-face {
  font-family: "circular-std";
  font-weight: 300;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/CircularStd/CircularStd-Light.woff");
  font-display: swap;
}

@font-face {
  font-family: "circular-std";
  font-weight: 300;
  font-style: italic;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/CircularStd/CircularStd-LightItalic.woff");
  font-display: swap;
}

@font-face {
  font-family: "circular-std";
  font-weight: 450;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/CircularStd/CircularStd-Book.woff");
  font-display: swap;
}

@font-face {
  font-family: "circular-std";
  font-weight: 450;
  font-style: italic;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/CircularStd/CircularStd-BookItalic.woff");
  font-display: swap;
}

@font-face {
  font-family: "circular-std";
  font-weight: 500;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/CircularStd/CircularStd-Medium.woff");
  font-display: swap;
}

@font-face {
  font-family: "circular-std";
  font-weight: 500;
  font-style: italic;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/CircularStd/CircularStd-MediumItalic.woff");
  font-display: swap;
}

@font-face {
  font-family: "circular-std";
  font-weight: 700;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/CircularStd/CircularStd-Bold.woff");
  font-display: swap;
}

@font-face {
  font-family: "circular-std";
  font-weight: 700;
  font-style: italic;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/CircularStd/CircularStd-BoldItalic.woff");
  font-display: swap;
}

@font-face {
  font-family: "circular-std";
  font-weight: 900;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/CircularStd/CircularStd-Black.woff");
  font-display: swap;
}

@font-face {
  font-family: "circular-std";
  font-weight: 900;
  font-style: italic;
  src: url("https://icy-desert-0c5aba603.3.azurestaticapps.net/assets/fonts/CircularStd/CircularStd-BlackItalic.woff");
  font-display: swap;
}

:root {
  --font-body: "circular-std";
  --font-head: "p22-mackinac";
  /* background */

  --cal-bg-emphasis: hsla(220, 13%, 91%, 1);
  --cal-bg: hsla(0, 0%, 100%, 1);
  --cal-bg-subtle: hsla(220, 14%, 96%, 1);
  --cal-bg-muted: hsla(210, 20%, 98%, 1);
  --cal-bg-inverted: hsla(0, 0%, 6%, 1);

  /* background -> components*/
  --cal-bg-info: hsla(218, 83%, 98%, 1);
  --cal-bg-success: hsla(134, 76%, 94%, 1);
  --cal-bg-attention: hsla(37, 86%, 92%, 1);
  --cal-bg-error: hsla(3, 66%, 93%, 1);
  --cal-bg-dark-error: hsla(2, 55%, 30%, 1);

  /* Borders */
  --cal-border-emphasis: hsla(218, 11%, 65%, 1);
  --cal-border: hsla(216, 12%, 84%, 1);
  --cal-border-subtle: hsla(220, 13%, 91%, 1);
  --cal-border-booker: #e5e7eb;
  --cal-border-muted: hsla(220, 14%, 96%, 1);
  --cal-border-error: hsla(4, 63%, 41%, 1);
  --cal-border-focus: hsla(0, 0%, 10%, 1);

  /* Content/Text */
  --cal-text-emphasis: hsla(217, 19%, 27%, 1);
  --cal-text: hsla(217, 19%, 27%, 1);
  --cal-text-subtle: hsla(220, 9%, 46%, 1);
  --cal-text-muted: hsla(218, 11%, 65%, 1);
  --cal-text-inverted: hsla(0, 0%, 100%, 1);

  /* Content/Text -> components */
  --cal-text-info: hsla(228, 56%, 33%, 1);
  --cal-text-success: hsla(133, 34%, 24%, 1);
  --cal-text-attention: hsla(16, 62%, 28%, 1);
  --cal-text-error: hsla(2, 55%, 30%, 1);

  /* Brand shinanigans
      -> These will be computed for the users theme at runtime.
    */
  --cal-brand: hsla(221, 39%, 11%, 1);
  --cal-brand-emphasis: hsla(0, 0%, 6%, 1);
  --cal-brand-text: hsla(0, 0%, 100%, 1);
}
.dark {
  /* background */

  --cal-bg-emphasis: hsla(0, 0%, 25%, 1);
  --cal-bg: hsla(0, 0%, 10%, 1);
  --cal-bg-subtle: hsla(0, 0%, 18%, 1);
  --cal-bg-muted: hsla(0, 0%, 12%, 1);
  --cal-bg-inverted: hsla(220, 14%, 96%, 1);

  /* background -> components*/
  --cal-bg-info: hsla(228, 56%, 33%, 1);
  --cal-bg-success: hsla(133, 34%, 24%, 1);
  --cal-bg-attention: hsla(16, 62%, 28%, 1);
  --cal-bg-error: hsla(2, 55%, 30%, 1);
  --cal-bg-dark-error: hsla(2, 55%, 30%, 1);

  /* Borders */
  --cal-border-emphasis: hsla(0, 0%, 46%, 1);
  --cal-border: hsla(0, 0%, 34%, 1);
  --cal-border-subtle: hsla(0, 0%, 22%, 1);
  --cal-border-booker: hsla(0, 0%, 22%, 1);
  --cal-border-muted: hsla(0, 0%, 18%, 1);
  --cal-border-error: hsla(4, 63%, 41%, 1);
  --cal-border-focus: hsla(0, 0%, 100%, 1);

  /* Content/Text */
  --cal-text-emphasis: hsla(240, 20%, 99%, 1);
  --cal-text: hsla(0, 0%, 84%, 1);
  --cal-text-subtle: hsla(0, 0%, 65%, 1);
  --cal-text-muted: hsla(0, 0%, 34%, 1);
  --cal-text-inverted: hsla(0, 0%, 10%, 1);

  /* Content/Text -> components */
  --cal-text-info: hsla(218, 83%, 93%, 1);
  --cal-text-success: hsla(134, 76%, 94%, 1);
  --cal-text-attention: hsla(37, 86%, 92%, 1);
  --cal-text-error: hsla(3, 66%, 93%, 1);

  /* Brand shenanigans
      -> These will be computed for the users theme at runtime.
    */
  --cal-brand: hsla(0, 0%, 100%, 1);
  --cal-brand-emphasis: hsla(218, 11%, 65%, 1);
  --cal-brand-text: hsla(0, 0%, 0%, 1);
}

@layer base {
  * {
    @apply border-default;
  }
}

::-moz-selection {
  color: var(--cal-brand-text);
  background: var(--cal-brand);
}

::selection {
  color: var(--cal-brand-text);
  background: var(--cal-brand);
}

body  {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*
  Desktop App specific CSS
    https://docs.todesktop.com/
*/

html.todesktop-platform-win32 .todesktop\:\!bg-transparent {
  background: inherit !important;
}

/* disable user selection on buttons, links and images on desktop app */
html.todesktop button,
html.todesktop a,
html.todesktop img,
html.todesktop header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default !important;
}

html.todesktop,
html.todesktop div {
  cursor: default !important;
}

/* make header draggable on desktop app */
html.todesktop header {
  -webkit-app-region: drag;
}

html.todesktop header button,
html.todesktop header a {
  -webkit-app-region: no-drag;
}

html.todesktop-platform-darwin body,
html.todesktop-platform-darwin aside {
  background: transparent !important;
}

html.todesktop-platform-darwin.dark main.bg-default {
  background: rgba(0, 0, 0, 0.6) !important;
}

html.todesktop-platform-darwin.light main.bg-default {
  background: rgba(255, 255, 255, 0.8) !important;
}

html.todesktop.light {
  --cal-bg-emphasis: hsla(0, 0%, 11%, 0.1);
}

html.todesktop.dark {
  --cal-bg-emphasis: hsla(220, 2%, 26%, 0.3);
}

/*
  Adds Utility to hide scrollbar to tailwind
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/*
 * Override the default tailwindcss-forms styling (default is: 'colors.blue.600')
 * @see: https://github.com/tailwindlabs/tailwindcss-forms/issues/14#issuecomment-1005376006
 */
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="checkbox"]:focus,
[type="radio"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--brand-color);
  border-color: var(--brand-color);
}

@layer components {
  .scroll-bar {
    @apply scrollbar-thin scrollbar-thumb-rounded-md dark:scrollbar-thumb-darkgray-300 scrollbar-thumb-gray-300 scrollbar-track-transparent;
  }
}

/* TODO: avoid global specific css */
/* button[role="switch"][data-state="checked"] span {
  transform: translateX(16px);
} */

@layer components {
  /* slider */
  .slider {
    @apply relative flex h-4 w-40 select-none items-center;
  }

  .slider > .slider-track {
    @apply relative h-1 flex-grow rounded-md bg-gray-400;
  }

  .slider .slider-range {
    @apply absolute h-full rounded-full bg-gray-700;
  }

  .slider .slider-thumb {
    @apply block h-3 w-3 cursor-pointer rounded-full bg-gray-700 transition-all;
  }

  .slider .slider-thumb:hover {
    @apply bg-gray-600;
  }

  .slider .slider-thumb:focus {
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
  }
}

/* hide chat bubble on mobile */
@media only screen and (max-width: 768px) {
  /* Intercom FAB*/
  #launcher {
    display: none !important;
  }

  /* Zendesk FAB*/
  div[role="presentation"] > iframe {
    display: none !important;
  }

  /* Helpscout FAB*/
  .BeaconFabButtonFrame {
    margin-left: -30px;
    left: 50%;
    bottom: 28px !important;
    z-index: 1058 !important;
  }
}

/* TODO: implement styling for react-multi-email */

/* !important to override react-dates */
.DateRangePickerInput__withBorder {
  border: 0 !important;
}
.DateInput_input {
  border: 1px solid #d1d5db !important;
  border-radius: 2px !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  color: #000;
  padding: 11px ​11px 9px !important;
  line-height: 16px !important;
}

.DateInput_input__focused {
  border: 2px solid #000 !important;
  border-radius: 2px !important;
  box-shadow: none !important;
  padding: 10px ​10px 9px !important;
}

.DateRangePickerInput_arrow {
  padding: 0px 10px;
}

.loader {
  display: block;
  width: 30px;
  height: 30px;
  margin: 60px auto;
  position: relative;
  border-width: 4px;
  border-style: solid;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  animation: loader-inner 2s infinite ease-in;
}

.no-ring-inset {
  --tw-ring-inset: unset;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.text-inverted-important {
  color: white !important;
}

@layer utilities {
  .transition-max-width {
    -webkit-transition-property: max-width;
    transition-property: max-width;
  }
}

#timeZone input:focus {
  box-shadow: none;
}

/* react-date-picker forces a border upon us, cast it away */
.react-date-picker__wrapper {
  border: none !important;
}

.react-date-picker__inputGroup__input {
  padding-top: 0;
  padding-bottom: 0;
}

/* animations */
.slideInBottom {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: slideInBottom;
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(30%);
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: auto;
  }
}

/* animations */
.slideInTop {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: slideInTop;
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-20%);
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%);
  }
}

.fadeIn {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**
 * Makes sure h-screen works on mobile Safari. By default h-screen
 * does not take into account the height of the address bar, causing
 * weird behaviour when scrolling — sometimes the height will be correct
 * and sometimes it won't, depending on whether the address bar is
 * in 'collapsed' state or not.
 * @see: https://benborgers.com/posts/tailwind-h-screen
 */
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.react-tel-input .country-list .country:hover,
.react-tel-input .country-list .country.highlight {
  @apply !bg-emphasis;
}

.react-tel-input .flag-dropdown .selected-flag,
.react-tel-input .flag-dropdown.open .selected-flag {
  @apply !bg-default;
}

.react-tel-input .flag-dropdown {
  @apply !border-r-default left-0.5 !border-y-0 !border-l-0;
}

.intercom-lightweight-app {
  @apply z-40 !important;
}

.font-circular {
  font-family: var(--font-body) !important;
}

.font-mackinac {
  font-family: var(--font-head) !important;
}

.body-head-1 {
  font-size: 36px;
  line-height: 43.2px;
}

.body-head-1-mobile {
  font-size: 28px;
  line-height: 33.6px;
}

.body-head-2 {
  font-size: 24px;
  line-height: 28.8px;
}

.body-head-3 {
  font-size: 18px;
  line-height: 25.2px;
}

.body-head-4 {
  font-size: 16px !important;
  line-height: 20.8px !important;
}

.body-normal {
  font-size: 16px;
  line-height: 24px;
}

.body-head-sm {
  font-size: 16px !important;
  line-height: 19.2px !important;
}

.body-sml {
  font-size: 13px;
  line-height: 18.2px;
}

.body-btn {
  line-height: 24px;
  font-size: 20px;
}

.font-normal-medium {
  font-weight: 450 !important;
}

.color-primary {
  color: #0b4736;
}

.color-text-dark {
  color: #282d27 !important;
}

.color-body-text {
  color: #737571;
}

.rounded-20 {
  border-radius: 20px;
}

.subtle-bg {
  background-color: #fafafa;
}

.px-l-6 {
  padding-left: 1.5rem;
}

.px-r-6 {
  padding-right: 1.5rem;
}

.px-l-10 {
  padding-left: 2.5rem;
}

.px-r-10 {
  padding-right: 2.5rem;
}

.px-r-10-half {
  padding-right: 1.25rem;
}

.py-t-6 {
  padding-top: 1.5rem;
}

.py-b-6 {
  padding-bottom: 1.5rem;
}

.py-t-10 {
  padding-top: 2.5rem;
}

.py-b-10 {
  padding-bottom: 2.5rem;
}

.py-b-81 {
  padding-bottom: 81px;
}

.my-b-10 {
  margin-bottom: 2.5rem;
}

.disabled\:color-light:disabled {
  color: #e6e2e2 !important;
}

.h-\[310px\] {
  height: 310px;
  max-height: 310px;
}

.h-\[391px\] {
  height: 391px;
  max-height: 391px;
}
.bg-branded {
  background-color: #fafafa;
}

.\[--booker-main-width\:511px\] {
  --booker-main-width: 511px;
}

.\[--booker-meta-width\:308px\] {
  --booker-meta-width: 308px;
}

.max-w-branded {
  max-width: 819px;
}

.rounded-branded {
  border-radius: 20px;
}

.rounded-branded-embed {
  border-radius: 0px;
}

.w-min-100 {
  min-width: 103px;
}
.w-max-220 {
  max-width: 220px;
}
.w-max-212 {
  max-width: 212px;
}

.h-min-48 {
  min-height: 48px;
}
.h-min-115 {
  min-height: 115px;
}

.w-max-266 {
  max-width: 266px;
}
.rounded-40 {
  border-radius: 40px;
}

.max-w-\[26px\] {
  max-width: 26px !important;
  min-width: 26px !important;
}

.max-h-\[26px\] {
  max-height: 26px !important;
  min-height: 26px !important;
}


.branded-border {
  border: 1px solid #0b4736;
}

.branded-form-border {
  border: 1px solid #a2a1a1;
}

.branded-mobile-border {
  border-top: 1px solid #E6E2E2;
}

.branded-border-bottom {
  border-bottom: 1px solid #E6E2E2;
}

.light-text {
  color: #ffffff;
}

.bg-secondary {
  background-color: #e95d2b;
}

.hover\:bg-branded-secondary:hover {
  background-color: #b64312;
}

.bg-primary {
  background-color: #0b4736;
}

.hover\:bg-branded-primary:hover {
  background-color: #03201f;
}

.footer-border {
  border-top: 1px solid #e6e2e2;
}

.ease-trans {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.h-8-5 {
  height: 2.125rem;
}
.h-8-5-max {
  max-height: 2.125rem;
}

.h-5-5 {
  height: 3.25rem;
}

.max-h-5-5 {
  max-height: 3.25rem;
}
.w-5-5 {
  width: 3.25rem;
}

.max-w-5-5 {
  max-width: 3.25rem;
}

.max-w-6 {
  max-width: 1.5rem;
}

.max-h-14 {
  max-height: 3.5rem;
}

.h-t1 {
  height: .6875rem;;
}
.max-h-t1 {
  max-height: .6875rem;;
}
.h-t2 {
  height: .375rem;;
}
.max-h-t2 {
  max-height: .375rem;;
}

.w-t2 {
  width: .5625rem;;
}
.max-w-t2 {
  max-width: .5625rem;;
}


.max-w-4 {
  max-width: 1rem;;
}

.max-w-14 {
  max-width: 3.5rem;
}

.max-h-8 {
  max-height: 2rem
}

.max-w-8 {
  max-width: 2rem
}

.pale-rey-bg {
  background-color: #F2F1F1;
}

.orange-bg {
  background-color: #F5A25D;
}

.branded-divider {
  height: 299px;
  width: 1px;
  background: #e6e2e2;
  position: absolute;
  right: 0;
  top: 40px;
}

.branded-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(var(--booker-meta-width) + var(--booker-main-width));
}

.branded-mobile-submit {
  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FAFAFA;
}

.focus\:custom-brand:focus {
  --tw-ring-color: transparent !important;
  --tw-ring-offset-shadow: none !important;
  --tw-ring-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  outline-offset: 0;
  border-color: #a2a1a1;
}

.focus-within\:custom-brand:focus-within {
  --tw-ring-color: transparent !important;
  --tw-ring-offset-shadow: none !important;
  --tw-ring-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  outline-offset: 0;
  border-color: #a2a1a1;
}

.branded-placeholder::placeholder {
  color: #a2a1a1;
  opacity: 1;
}

.branded-placeholder::-ms-input-placeholder {
  color: #a2a1a1;
}
.react-tel-input .form-control {
  color: #282d27 !important ;
  font-size: 16px !important;
}
.react-tel-input .flag-dropdown {
  border-radius: 40px 0 0 40px !important;
}
.react-tel-input .selected-flag {
  border-radius: 40px 0 0 40px !important;
  height: 95% !important;
  top: 2.5% !important;
}

.branded-email-remove-btn .addon-wrapper {
  position: absolute;
  right: 0px;
  height: 100%;
  border-radius: 0 40px 40px 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a2a1a1;
}

.branded-full-name label {
  color: #282d27 !important;
  font-size: 16px !important;
  line-height: 20.8px !important;
  font-family: var(--font-body) !important;
}

.branded-checkbox {
  border: 1px solid #a2a1a1 !important;
  background-color: #ffffff !important;
}

.checked\:branded-checkbox:checked {
  border: 1px solid #a2a1a1 !important;
  background-color: #ffffff !important;
  background-image: url("https://fertilitymapperprod.blob.core.windows.net/assets/images/check.svg");
  background-size: auto;
}
.hover\:branded-checkbox:hover {
  border: 1px solid #a2a1a1 !important;
  background-color: var(--cal-bg-subtle) !important;
}
.checked\:hover\:branded-checkbox:checked:hover {
  border: 1px solid #a2a1a1 !important;
  background-color: var(--cal-bg-subtle) !important;
}
.branded-checkbox-label a {
  color: #0b4736;
  text-decoration: underline;
}

.mt-2px {
  margin-top: 2px;
}
.hide-val {
  display: none !important;
}
.branded-link {
  color: #0b4736;
    text-decoration: underline;
    font-weight: 500;
}
.max-w-175 {
  max-width: 175px;
}
@import "./raqb.css";
